*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #fefefe;
    color: #030807;
    font-family: 'Times New Roman', Times, serif    
}

header{
    background-color: #030807;
    
}

header ul{
    list-style-type: none;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header ul a{
    font-size: 3rem;
    color: #fefefe;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h1{
    font-size: 4rem;
    margin-top: 3rem;
    border: solid 5px black;
    padding: .5rem;
    display: inline-block;
}

main section{
    font-size: 2.5rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div{
    margin-top: 2rem;
    list-style-type: georgian;
}

main section div input {
    width: 32rem;
    margin-left: 3rem;
    font-size: 2rem;
}

@media screen and (max-width:500px) {
    header ul a{
        font-size: 1.8rem;
    }

    main h1{
        font-size: 2rem;
        margin-left: 1rem;
    }
}

.article-frescuras{
    background-image: url(../multimedia/frescuras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.article-frescuras h1{
    color: #fefefe;
    font-size: 8rem;
    text-align: center;
}

.article-frescuras table{
    font-size: 2rem;
    color: #fefefe;
    display: inline-block;
    width: 70%;
    height: 100vh;
    text-align: center;
    border-radius: 400px;
}

.article-frescuras table th, td, tr{
    padding:1rem;
    background-color: #030807;
}