* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #030807;
    font-family: 'Times New Roman', Times, serif
}

main {
    background-color: rgba(190, 176, 176, 0.751);
}

header {
    background: linear-gradient(to bottom, #181616, #0c1010);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem;
    border-bottom: solid 2px white;
}



/*  NAV */

.nav-logo {
    width: 15rem;
    padding-top: 3px;
}

.nav-list {
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.nav-item {
    margin-left: 3rem;
    padding-top: 1rem;
}

.nav-item-link {
    color: #fefefe;
    font-size: 3rem;
    text-decoration: none;

}

.nav-item-link:hover {
    color: gold;
}

.nav-form {
    padding-bottom: 10px;
    width: 40%;
    height: 5rem;
    font-size: 30rem;
    text-align: center;
}

.nav-form .btn {
    background-color: #fefefe;
}

i {
    color: white;
}


/* FIN NAV */


/* MODO OSCURO */
#dark-mode {
    display: none;
}

#label-dark-mode {
    color: #fefefe;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    padding-top: .5rem;
    cursor: pointer;
    transition: all .3s;
}

#label-dark-mode:hover {
    color: gold;
}

.main-dark-mode {
    background-color: #0c1010;
    color: #fefefe;
}




/* fin modo oscuro */

                /* INDEX */


.contenedor-titulo-index {
    padding: 2rem 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.img-titulo {
    width: 50rem;
    height: 40rem;
}

#titulo-main {
    font-size: 3.8rem;
    margin-top: 3rem;
    border: solid 5px black;
    padding: 1rem;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

.bordes-dark {
    border: solid 2px white !important;
}


.h3-main {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.section-titulo-index {
    display: inline-block;
    width: 100%;
    height: 35rem;
    font-size: 3.5rem;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
}






/* SECTION CARTAS EGIPCIAS */

.contenedor-cartas-egipcias {
    padding-top: 18rem;
    display: flex;
    justify-content: center;

}

.div-cartas-egipcias {
    position: relative;
    transform-style: preserve-3d;
    width: 35rem;
    height: 40rem;
    transition: all 1.5s;
}

.div-cartas-egipcias:hover{
    transform: rotateY(180deg);
}

.cartas-egipcias {
    position: absolute;
    backface-visibility: hidden;
    width: 30rem;
    height: 100%;
}

.reverso-carta-egipcia {
    transform: rotateY(180deg);
}

            /* SECTION FETCH */

.contenedor-botones-index form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    font-size: 2.3rem;
}

.contenedor-botones-index input {
    color: #030807;
    font-weight: bold;
    text-align: center;
    height: 4rem;
    border-radius: 10px;
    width: 15rem;
    font-size: 2rem;
    transition: 1s;
    margin-top: 1rem;
    padding: .5rem 0px;
}

.submit-cartas:hover{
    background-color: gold;
}

.contenedor-yugi{
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: center;
    padding: 1rem 1rem 20rem 1rem;
}

.carta {
    margin: 2rem;
    text-align: center  ;
}


/* PRUEBA FAVORITOS*/

.button-fav,
.button-fav-quitar{
    border: none;
    background: none;
    font-size: 3rem;
    padding: .7rem;
    border-radius: 50px;
    transition: .5s;
}

.button-fav:hover {
    font-size: 3.5rem;
}

.button-fav-quitar:hover {
    font-size: 3.5rem;
}



/* PAGINA CONTACTO */

.section-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.section-contacto h2 {
    margin-top: 3.5rem;
    font-size: 3rem;
    text-align: center;
}


.img-contacto {
    height: 40rem;
    width: 35rem;
    margin: 1rem;
}

.contenedor-titulo-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 4rem 0px;
}


.contenedor-inputs {
    display: flex;
    flex-direction: column;

}

.contenedor-inputs label {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.contenedor-inputs input, select {
    height: 3.3rem;
    font-size: large;
    padding-left: 1rem;
    border-radius: 10px;
    width: 50rem;
}

        /*SELECT*/

select option{
    font-weight: normal;
}

.contenedor-select-img {
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.contenedor-select-img img {
    width: 90%;
    height: 20rem;
}

                    /* CONTACTO */

#checkbox-newsletter {
    color: gold;
    height: 2.5rem;
}

#envio-form {
    height: 4rem;
    margin-right: 2rem;
    border-radius: 10px;
    width: 20rem;
    font-size: 2.2rem;
    transition: all .5s;
}

#envio-form:hover {
    background-color: gold;
}

.agregar-input {
    margin-bottom: 2rem;
}

.alerta-incorrect {
    color: #030807;
    margin-bottom: 1.5rem;
    padding: 5px;
    font-weight: bold;
    background-color: gold;
    font-size: 2rem;
    border: solid 2px #030807;
    border-radius: 10px;
    display: none;
}

.alerta-incorrect span {
    font-size: 3rem;
    font-weight: bolder;
}

.swal-title {
    margin: 3rem;
    color: #fefefe;
}

.swal-modal {
    background-color: #030807;
    border-radius: 10px;
    width: 35%;
}




/* PAGINA FAVORITOS */

.titulo-main-favoritos {
    margin-left: 15rem;
}

.section-favoritos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor-titulo-favoritos {
    width: 100%;
}

.contenedor-titulo-favoritos h2 {
    margin-top: 3.5rem;
    font-size: 3rem;
    text-align: center;
}

.fa-star {
    color: yellow;
    margin-top: 5px;
}

.cartas-favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}



#generador-favoritos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* FOOTER */

footer {
    border-top: solid 2px white;
    background: linear-gradient(to bottom, #0c1010, #181616);
    color: #fefefe;
    height: 100%;
    width: 100%;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.footer-contenedor {
    margin-left: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-articulos {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-articulos img {
    margin-top: 2.5rem;
    width: 20%;
    height: 100%;
}

.footer-botones a {
    width: 6.5rem;
    height: 6.5rem;
}

.footer-botones-paginas {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
}

.footer-botones-paginas h2 {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.footer-botones-paginas a {
    width: 30%;
    align-self: center;
    display: inline-block;
    margin-top: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fefefe;
    transition: all .5s;
}

.footer-botones-paginas a:hover {
    color: gold;
    font-size: 2.1rem;
    text-decoration: underline;
}

.bx {
    background-color: gold;
    color: #030807;
    font-size: 4rem;
    margin: 1rem;
    transition: all .7s;
    border-radius: 40px;
}

.bx:hover {
    font-size: 4.2rem;
    box-shadow: #fefefe;
    background-color: #030807;
    color: gold;
}



.dark-hr {
    color: white;
    margin-bottom: 10rem;
}































@media screen and (max-width:500px) {
    header ul a {
        font-size: 1.8rem;
    }

    main h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }
}




